body{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.cabecera{
    background: blueviolet;
    align-items: center ;
    justify-content: space-between;
    text-decoration: none;
    font-size: 26px;
}


.logo{
    width: 120px;
}